extends layout

block content
    script.
        $(document).ready(function () {
            var socket = io();
            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#clientName').val();

                if (inputName) {
                    socket.emit('login', {
                        name: inputName,
                        role: 'administrator'
                    });
                    $('#connectUser').removeClass('display-none');
                } else {
                    alert('Please enter your account.');
                    return false;
                }
            });

            //사용자접속 알림 이벤트
            socket.on('notifyClientLoginToAdmin', function (data) {
                addClientToList(data, socket);
                updateConnectedClientCount();
            });

            //접속중인 사용자 리스트 알림 이벤트
            socket.on('notifyClientLoginListToAdmin', function (data) {
                for(var i=0; i<data.length; i++){
                    addClientToList(data[i], socket);
                }
                updateConnectedClientCount();
            });

            //접속해제 클라이언트 알림 이벤트
            socket.on('notifyClientLogoutToAdmin', function (data) {
                console.log('notifyClientLogoutToAdmin :' + data);
                $('#'+data).remove();
                updateConnectedClientCount();
            });

            var chatDialog = $('#chatDialog');

            //채팅 전송 버튼 이벤트
            chatDialog.find('#sendBtn').on('click', function () {
                socket.emit('sendMessageToUser', {
                    client: $('#clientId').val(),
                    msg: $('#chatInput').val()
                },function (msg) {
                    var chatItem = $('<div></div>'),
                        myMessage = $('<div></div>'),
                        chatArea = $('#chatArea');

                    chatItem.addClass('chat-item');
                    myMessage.addClass('my-message');
                    myMessage.html(msg);
                    chatItem.append(myMessage);
                    chatArea.append(chatItem);

                    chatArea.animate({
                        scrollTop : chatArea.scrollTop() + chatArea.height()
                    });
                });
            })

        });

        //클라이언트를 접속리스트에 추가
        function addClientToList(data) {

            var connectClientListDiv = $('#connectClientList');
            var listedClient;
            var p = $('<p></p>');

            p.attr('id', data.socketId);
            p.addClass('connect-clients-item');
            p.addClass('border-radius10');
            p.html(data.name);

            //해당 클라이언트와의 대화창 정의
            p.on('click', function () {

                var chatDialog = $('#chatDialog'),
                    chatArea = $('#chatArea');

                chatDialog.find('#clientId').val($(this).attr('id'));
                chatDialog.dialog({ autoOpen: false, modal: true, height: 400, width: 500, title : 'Talk with " '+$(this).html() + ' "' });
                chatDialog.dialog('open');

                //기존 대화 지우기
                chatArea.empty();
                chatArea.animate({
                    scrollTop: chatArea.scrollTop() + chatArea.height()
                });

                $('#chatInput').val('');
            });

            //이미 접속된 클라이언트인지 확인
            listedClient = connectClientListDiv.find('#'+data.socketId);

            //접속되지않은 클라이언트면 리스트에 추가
            if(listedClient.length == 0){
                connectClientListDiv.append(p);
            }else{
                //이미 접속해있는 클라이언트면 이름만 업데이트
                listedClient.html(p.html());
            }

        }

        //현재 접속자수 계산
        function updateConnectedClientCount(){
            var connectClientListDiv = $('#connectClientList');
            var ConnectedClientCount =  connectClientListDiv.find('p').length;
            $('#connectedCount').html(ConnectedClientCount);

        }

    h1= title
    .idform
        p Please enter your account.
        input#clientName(type='text')
        button#apply submit
        .display-none#connectUser
            p Connect client List
                | (  Connected :
                span#connectedCount 0
                |  )
            p Click client in the list below to send a message.
            .connect-clients.border-radius10#connectClientList
        #chatDialog.display-none
            #chatArea.chat-area.border-radius10
            input#chatInput.chat-input(type='text')
            input#clientId(type='hidden')
            button#sendBtn.chat-send send

