extends layout

block content
    script.
        $(document).ready(function () {
            var socket = io();
            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#clientName').val();

                if (inputName) {
                    socket.emit('login', {
                        name: inputName,
                        role: 'administrator'
                    });
                    $('#connectUser').removeClass('display-none');
                } else {
                    alert('Please enter your account.');
                    return false;
                }
            });

            //  전체 클라이언트에게 메시지 보내기 - 채팅창 열기
            $('#sendAllBtn').on('click',function (btn) {
                createChatDialog(socket.id, 'multi');
            });



            //사용자접속 알림 이벤트
            socket.on('notifyClientLoginToAdmin', function (data) {
                addClientToList(data, socket);
                updateConnectedClientCount();
            });

            //접속중인 사용자 리스트 알림 이벤트
            socket.on('notifyClientLoginListToAdmin', function (data) {
                for (var i = 0; i < data.length; i++) {
                    addClientToList(data[i], socket);
                }
                updateConnectedClientCount();
            });

            //접속해제 클라이언트 알림 이벤트
            socket.on('notifyClientLogoutToAdmin', function (data) {
                $('#' + data).remove();
                updateConnectedClientCount();
            });

            //채팅창 오픈 이벤트
            socket.on('openChatDialog', function (data) {
                createChatDialog(data.client, 'single');
            });

            //클라이언트로부터 메시지 수신
            socket.on('recieveMessageFromClient', function (data) {
                createMessage(false, data.msg);
            });

            var chatDialog = $('#chatDialog');

            //채팅 전송 버튼 이벤트
            chatDialog.find('#sendBtn').on('click', function () {
                socket.emit('sendMessageToClient', {
                    client: $('#clientId').val(),
                    msg: $('#chatInput').val(),
                    mode : $('#chatMode').val()
                }, function (msg) {
                    createMessage(true, msg);
                });
            });

        });

        //클라이언트를 접속리스트에 추가
        function addClientToList(data) {

            var connectClientListDiv = $('#connectClientList');
            var listedClient;
            var p = $('<p></p>');

            p.attr('id', data.socketId);
            p.addClass('connect-clients-item');
            p.addClass('border-radius10');
            p.html(data.name);

            //해당 클라이언트와의 대화창 정의
            p.on('click', function () {
                createChatDialog($(this).attr('id'));
            });

            //이미 접속된 클라이언트인지 확인
            listedClient = connectClientListDiv.find('#' + data.socketId);

            //접속되지않은 클라이언트면 리스트에 추가
            if (listedClient.length == 0) {
                connectClientListDiv.append(p);
            } else {
                //이미 접속해있는 클라이언트면 이름만 업데이트
                listedClient.html(p.html());
            }

        }

        //현재 접속자수 계산
        function updateConnectedClientCount() {
            var connectClientListDiv = $('#connectClientList');
            var ConnectedClientCount = connectClientListDiv.find('p').length;
            $('#connectedCount').html(ConnectedClientCount);

        }


    h1= title
    .idform
        p Please enter your account.
        input#clientName(type='text')
        button#apply submit
        .display-none#connectUser
            p Connect client List
                | (  Connected :
                span#connectedCount 0
                |  )
            p Click client in the list below to send a message.
            .connect-clients.border-radius10#connectClientList
            button#sendAllBtn Send message for all user
        #chatDialog.display-none
            #chatArea.chat-area.border-radius10
            input#chatInput.chat-input(type='text')
            input#clientId(type='hidden')
            input#chatMode(type='hidden')
            button#sendBtn.chat-send send

