extends layout

block content
    script.
        $(document).ready(function (){
            var socket = io();

            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#username').val();

                if(inputName){
                    socket.emit('login', {
                        name: inputName,
                        role: 'administrator'
                    });
                    $('#connectUser').removeClass('display-none');
                }else{
                    alert('Please enter your account.');
                    return false;
                }
            });

            //사용자접속
            socket.on('notifyLoginToAdmin',function (data) {
                var p = $('<p></p>');

                p.attr('id', data.socketId);
                p.addClass('connect-users-item');
                p.html(data.name);
                
                p.on('click', function () {
                    console.log($(this).attr('id'));
                });
                
                $('#connectUser').append(p);
            });

        });
    h1= title
    .idform
        p Please enter your account.
        input#username(type='text')
        button#apply submit
        p Connect user List
        .connect-users.display-none#connectUser
