extends layout

block content
    script.
        $(document).ready(function () {
            var socket = io();
            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#clientName').val();

                if (inputName) {
                    socket.emit('login', {
                        name: inputName,
                        role: 'administrator'
                    });
                    $('#connectUser').removeClass('display-none');
                } else {
                    alert('Please enter your account.');
                    return false;
                }
            });

            //사용자접속 알림 이벤트
            socket.on('notifyClientLoginToAdmin', function (data) {
                addClientToList(data);
                updateConnectedClientCount();
            });

            //접속중인 사용자 리스트 알림 이벤트
            socket.on('notifyClientLoginListToAdmin', function (data) {
                for(var i=0; i<data.length; i++){
                    addClientToList(data[i]);
                }
                updateConnectedClientCount();
            });

            //접속해제 클라이언트 알림 이벤트
            socket.on('notifyClientLogoutToAdmin', function (data) {
                console.log('notifyClientLogoutToAdmin :' + data);
                $('#'+data).remove();
                updateConnectedClientCount();
            });

        });

        //클라이언트를 접속리스트에 추가
        function addClientToList(data) {

            var connectClientListDiv = $('#connectClientList');
            var listedClient;
            var p = $('<p></p>');

            p.attr('id', data.socketId);
            p.addClass('connect-clients-item');
            p.addClass('border-radius10');
            p.html(data.name);

            p.on('click', function () {
                console.log($(this).attr('id'));
            });

            listedClient = connectClientListDiv.find('#'+data.socketId);

            if(listedClient.length == 0){
                connectClientListDiv.append(p);
            }else{
                listedClient.html(p.html());
            }

        }

        //현재 접속자수 계산
        function updateConnectedClientCount(){
            var connectClientListDiv = $('#connectClientList');
            var ConnectedClientCount =  connectClientListDiv.find('p').length;
            $('#connectedCount').html(ConnectedClientCount);

        }

    h1= title
    .idform
        p Please enter your account.
        input#clientName(type='text')
        button#apply submit
        .display-none#connectUser
            p Connect client List
                | (  Connected :
                span#connectedCount 0
                |  )
            p Click client in the list below to send a message.
            .connect-clients.border-radius10#connectClientList
