extends layout

block content
    script.
        $(document).ready(function () {

            $('input[name=account]').focus();

            $('#signup').on('click', function () {

                //password 검증
                var pw1 = $('input[name=password1]').val();
                var pw2 = $('input[name=password2]').val();

                if(pw1 != pw2){
                    alert('Password does not match.');
                    $('input[name=password2]').focus();
                    return false;
                }
                return true;
            });
            
            $('#back').on('click', function () {
                window.history.back();
            });
        });
    h1= title
    p Please enter your account, name and password and click the "Sign up" button.
    form(action='/signup' method='post')#joinForm
        table
            tr
                td
                    p Account
                td
                    input(type='text' name='account' required='required')
            tr
                td
                    p Name
                td
                    input(type='text' name='name' required='required')
            tr
                td
                    p Password
                td
                    input(type='password' name='password1' required='required')
            tr
                td
                    p Password verify
                td
                    input(type='password' name='password2' required='required')

        button#signup Sign up
        |&nbsp;
        button#back Back


