extends layout

block content
    script.
        $(document).ready(function (){
            var socket = io();

            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#clientName').val();

                if(inputName){
                    socket.emit('login', {
                        name: inputName,
                        role: 'user'
                    });
                }else{
                    alert('Please enter your account.');
                    return false;
                }
            });

            //관리자 로그인 이벤트
            socket.on('notifyAdministratorLogin', function (data) {
                console.log('notifyAdministratorLogin');
            });

            //관리자 로그아웃 이벤트
            socket.on('notifyAdministratorLogout', function (data) {
                console.log('notifyAdministratorLogout');
            });

            //관리자로부터 메시지 수신
            socket.on('recieveMessageFromAdministrator', function (data) {
                console.log(data);

                var chatDialog = $('#chatDialog'),
                    chatArea = $('#chatArea');

                chatDialog.find('#clientId').val(data.clientId);
                chatDialog.dialog({
                    autoOpen: false,
                    modal: true,
                    height: 400,
                    width: 500,
                    title: 'Talk with " ' + $(this).html() + ' "'
                });
                chatDialog.dialog('open');

                //기존 대화 지우기
                chatArea.empty();
                chatArea.animate({
                    scrollTop: chatArea.scrollTop() + chatArea.height()
                });

                $('#chatInput').val('');
            });
        });
    h1= title
    .idform
        p Please enter your account.
        input#clientName(type='text')
        button#apply submit
        #chatDialog.display-none
            #chatArea.chat-area.border-radius10
            input#chatInput.chat-input(type='text')
            input#clientId(type='hidden')
            button#sendBtn.chat-send send
