extends layout

block content
    script.
        $(document).ready(function (){
            var socket = io();

            //id 입력
            $('#apply').on('click', function () {

                var inputName = $('#clientName').val();

                if(inputName){
                    socket.emit('login', {
                        name: inputName,
                        role: 'user'
                    });
                }else{
                    alert('Please enter your account.');
                    return false;
                }
            });

            //관리자 로그인 이벤트
            socket.on('notifyAdministratorLogin', function (data) {
                console.log('notifyAdministratorLogin');
            });

            //관리자 로그아웃 이벤트
            socket.on('notifyAdministratorLogout', function (data) {
                console.log('notifyAdministratorLogout');
            });
        });
    h1= title
    .idform
        p Please enter your account.
        input#clientName(type='text')
        button#apply submit
