body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.connect-clients {
    height: 200px;
    width: 500px;
    overflow-y: scroll;
    background-color: #f7f7f7;
    padding-left: 10px;
}

.connect-clients-item:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.border-radius10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.chat-area {
    width: 100%;
    height: 300px;
    background-color: #d6f7ff;
    overflow-y: scroll;
}

.chat-input {
    width: 390px;
    margin-top: 10px;
}

.chat-send {
    margin-left: 10px;
    width: 65px;
}

.chat-item {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    content: " ";
    display: block;
    clear: both;
}

.other-message {
    background-color: #ffffff;
    max-width: 200px;
    float: left;
    padding: 10px;
    margin: 5px 0px 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.my-message {
    max-width: 200px;
    float: right;
    background-color: #fffa63;
    padding: 10px;
    margin: 5px 10px 5px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/***********************************************/
.main-container {
    width : 100%;
}
.main-client-list-container{
    width: 200px;
    height: 500px;
    background-color: #d6f7ff;
    float: left;
}
.main-room-list-container{
    width: 200px;
    height: 500px;
    background-color:#cefffd;
    float: left;
    margin-left: 10px;

}
.region-title{
    background-color: rgba(146, 184, 230, 0.2);
    width : 100%;
    height:30px;
    padding-top: 10px;
    text-align: center;
}
.region-title > p {
    margin : 0 5px;
    font-weight: bold;
}
.item-list{
    margin-top: 20px;
    width: 100%;
    overflow-y: scroll;
    height : 420px;
}

.connect-clients-item {
    cursor: pointer;
    height: 18px;
    padding: 5px;
}
.create-room-btn {
    margin-top: 5px;
}
#logout{
    margin : 10px 0px;
}